table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 5px;
}

th {
  background-color: yellow;
}

.btn {
  padding: 5px 7px;
  margin: 8px;
  background-color: green;
  font-size: 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
